* {
  box-sizing: border-box;
}

.hero{
  background-color: black;
  height: 65vh;
  width: 100%;
  margin-bottom: 5em;
}

.navbar-brand{
  font-family: 'Faster One', cursive;
  font-size: 2em;
}

#brand-smaller{
  font-size: 0.5em;
  font-family: 'Arvo', serif;
  font-style: italic;
}

#myTab{
  margin-top: 1em;
}

span {
  margin: 0;
  padding: 0;
}

.end-left {
  margin-left: -7em;
}


.outline {
  position: absolute;
  top: 4em;
}

.outline {
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;
  font-size: 2em;
  font-family: 'Arvo', serif;
}

.orbs {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: block;
  font-size: 8em;
  position: relative;
}
.orbs span {
  color: red;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;
  position: absolute;
  left: 50%;
}
.orbs span:first-child {
  margin-left: -200px;
}
.orbs span:not(:first-child) {
  margin-left: -35px;
}

.glow {
  opacity: 0;
  font-family: 'Arvo', serif;
  font-weight: 300;
  color: orange;
  margin-left: -200px;
  font-size: 3em;
  position: absolute;
  top: 6.3em;
  left: 52%;
}

#team{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
  min-height: 60vh;
}


#team ul.nav {
  display: inline-flex;
}
#team ul.nav li {
  display: inline;
}

.roles{
  text-align: left;
  letter-spacing: 0.1em;
  margin-top: 1em;
  font-weight: 500;
}

#doc{
  letter-spacing: 0.1em;
  margin-top: 3.5em;
  font-weight: 500;
  text-align: center;
}

.designer-statement{
  text-align: left;
  letter-spacing: 0.1em;
}

.tab-content{
  margin-top: 2em;
  margin-bottom: 5em;
}

#game-details{
  margin: 0 5em 0;
}

figcaption{
  width: 60%;
  text-align:left;
  color: darkgray;
}

#game-details > section .game-img > img{
height: 60%;
width: 60%;
}
#game-details > section .game-img-2 > img{
  height: 50%;
  width: 40%;
  }

.process{
  letter-spacing: 0.1em;
  margin-top: 1em;
}
#feedback-1{
  letter-spacing: 0.07em;
  color:gray;
}
.iterations{
  margin-bottom: 3em;
}

.carousel {
  width:50%;
  height: 50%;
  margin: 2em auto;
  
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: orange;
  padding: 1em;
}


.carousel-item > img {
  height: 50%;
} 

.carousel-caption{
  background-color: rgba(12, 12, 12, 0.33);
  padding: 0.3em 0.5em 0.2em;
}

.subcaption-special{
  text-align: left;
}

.fa-quote-left{
  margin-right: 0.3em;
}
.fa-quote-right{
  margin-left: 0.3em;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: orange;
}

a.nav-link{
  color:black;
}

.card-text{
  text-align: left;
}

.card-group{
  padding: 0 8em;
}

h2{
  letter-spacing: 0.18em;
  font-weight: 400;
  color: rgb(90, 85, 85);
}
h3{
  letter-spacing: 0.18em;
  font-weight: 300;
  color: orange;
  margin-bottom: 0;
}
h4{
  letter-spacing: 0.18em;
  font-weight: 300;
  color: orange;
  margin-bottom: 1em;
}

#playtest{
 margin: 0 5em 0;
} 

#playtest > section .game-img-3 >img{
  height: 60%;
  width: 60%;
}

.card-group{
  margin-bottom: 2em;
}

#rules{
  margin-bottom: 3em;
}

.review{
  list-style-type: square;
}